@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Quicksand:wght@300..700&display=swap');

p {
    color: red;
}

h1 {
    color: rgb(178, 178, 216);
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
}

h2 {
    color: rgb(178, 178, 216);
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
}

h3 {
    color: rgb(178, 178, 216);
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3d3b3b;
}

.button {
    background-color: #9292bd;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    border-radius: 10px;
    height: 50px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }

.flex-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3d3b3b;
}

.upload {
    background-color: #9292bd;
    height: 20px;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}